.App {
  display: flex;
  flex-direction: column;
}

.App a {
  text-decoration: none;color: black;
}

.grid-container {
  margin-top: 2%;
  margin-left: 6%;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  gap: 20px;
}

.imagem {
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #bfbcbc;
  width: 189%;
  height: 180px;
}

.imagemOuvir {
  width: 100%;
}

.conteudo {
  width: 53%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.conteudo h3, a, p {
  margin: 0;
  font-size: 95%;
  width: 189%;
}

.title {
  padding-bottom: 4%;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  font-size: 81%;
  align-items: center;
}

.cabecalho h1 {
  width: 48%;
  text-align: center;
  font-size: 301%;
}

.button {
  cursor: pointer;
  width: 7%;
  background-color: white;
  border: 1px solid #b3b1b1;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;

}

.button:hover {
  width: 7%;
  background-color: #b3b1b1;
  font-weight: bold;
}

.input {
  cursor: pointer;
  height: 49px;
  width: 18%;
  border: 1px solid #b3b1b1;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  /* border-radius: 7px; */
}

.input::placeholder {
  background-color: white;
  padding-left: 2%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
}

.pesquisa {
  width: 100%;
}

form {
  display: flex;
  margin-left: 2%;
  margin-bottom: 2%;
  justify-content: center;
}

@media (max-width: 960px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .App a {
    text-decoration: none;color: black;
  }
  
  .grid-container {
    margin-top: 2%;
    margin-left: 2%;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    gap: 20px;
  }
  
  .imagem {
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #bfbcbc;
    width: 189%;
    height: 180px;
  }
  
  .conteudo {
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }
  
  .conteudo h3, a, p {
    margin: 0;
    font-size: 95%;
    width: 189%;
  }
  
  .title {
    padding-bottom: 4%;
  }
  
  .cabecalho {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    font-size: 81%;
    align-items: center;
  }
  
  .cabecalho h1 {
    width: 100%;
    text-align: center;
    font-size: 301%;
  }
  
  .button {
    cursor: pointer;
    width: 7%;
    background-color: white;
    border: 1px solid #b3b1b1;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
  
  }
  
  .button:hover {
    width: 7%;
    background-color: #b3b1b1;
    font-weight: bold;
  }
  
  .input {
    cursor: pointer;
    height: 44px;
    width: 23%;
    border: 1px solid #b3b1b1;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    /* border-radius: 7px; */
  }
  
  .input::placeholder {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
  }
  
  .pesquisa {
    width: 100%;
  }
  
  form {
    display: flex;
    margin-left: 2%;
    margin-bottom: 2%;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .App a {
    text-decoration: none;color: black;
  }
  
  .grid-container {
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
    /* grid-template-columns: 43% 43%; */
    gap: 20px;
    flex-direction: column;
  }
  
  .imagem {
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #bfbcbc;
    width: auto;
    height: 116px;
  }
  
  .conteudo {
    width: 55%;
    display: flex;
    align-items: flex-start;
    margin: 0;
    flex-direction: row;
  }
  
  .conteudo h3, a, p {
    margin: 0;
    font-size: 95%;
    width: 330%;
  }

  .descricao {
    margin-top: 6%;
    margin-left: 4%;
  }
  
  .title {
    padding-bottom: 4%;
  }
  
  .cabecalho {
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    font-size: 81%;
    align-items: center;
  }
  
  .cabecalho h1 {
    width: 100%;
    text-align: center;
    font-size: 212%;
  }
  
  .button {
    cursor: pointer;
    width: 17%;
    background-color: white;
    border: 1px solid #b3b1b1;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
  
  }
  
  .button:hover {
    width: 17%;
    background-color: #b3b1b1;
    font-weight: bold;
  }
  
  .input {
    cursor: pointer;
    height: 44px;
    width: 50%;
    border: 1px solid #b3b1b1;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    /* border-radius: 7px; */
  }
  
  .input::placeholder {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
  }
  
  .pesquisa {
    width: 100%;
  }
  
  form {
    display: flex;
    margin-left: 2%;
    margin-bottom: 2%;
    justify-content: center;
  }
}